---
layout: reveal
---
{% include slides/title.html %}
{% include slides/what_is_agile.html %}
{% include slides/agile_history.html %}
{% include slides/lean_history.html %}
{% include slides/lean_principles.html %}
{% include slides/but_first.html %}
{% include slides/lean_principles_redux.html %}
{% include slides/eliminate_waste.html %}
{% include slides/what_is_waste.html %}
{% include slides/signs_of_waste.html %}
{% include slides/eliminating_waste.html %}
{% include slides/amplify_learning.html %}
{% include slides/amplifying_learning.html %}
{% include slides/crank_learning_to_eleven.html %}
{% include slides/decide_late.html %}
{% include slides/deliver_fast.html %}
{% include slides/empower_the_team.html %}
{% include slides/build_quality_in.html %}
{% include slides/see_the_whole.html %}
