---
layout: reveal
---
{% include slides/title.html %}
{% include slides/what_is_agile.html %}
{% include slides/agile_history.html %}
{% include slides/lean_history.html %}
{% include slides/lean_principles.html %}
{% include slides/eliminate_waste.html %}
{% include slides/amplify_learning.html %}
{% include slides/decide_late.html %}
{% include slides/deliver_fast.html %}
{% include slides/empower_the_team.html %}
{% include slides/build_quality_in.html %}
{% include slides/see_the_whole.html %}
