<section>
  <section>
    <p>
      A key strategy for delaying commitments when developing a complex system
      is to build <span class="fragment highlight-blue">a capacity for
      change</span> into the system.
    </p>
  </section>
  <section>
    <p>
      The more complex a system is, the more the capacity for change should be
      built into it.
    </p>
    <blockquote class="fragment">
      Prefer responding to change over following a plan.
    </blockquote>
    <h5 class="fragment">The Agile Manifesto</h5>
  </section>
  <section>
    <em>If a system is developed by allowing the design to emerge through iterations,
    the design will be robust, adapting more readily to the types of changes that
    occur during development.</em>
  </section>
</section>
