<section>
  <section>
    <h3>A brief history of Agile</h3>
    <p>
      Agile software development found its genesis in dissatisfaction with the
      ubiquitous "waterfall" model of the 1980s and 90s.
    </p>
    <p>
      The waterfall model is a sequential design process in which progress is
      seen as flowing steadily downwards (like a waterfall) through the phases
      of conception, initiation, analysis, design, construction, testing,
      implementation and maintenance.
    </p>
  </section>
  <section>
    <h3>The Emergence of Agile</h3>
    <p>
      Recognizing the inefficiencies of waterfall methodology, a group of
      software engineers from all over the U.S. gathered in February of 2001 to
      discuss the merits of leaner, more agile development strategies.
    </p>
    <p>
      The result, a collection of methodologies that would go on to redefine the
      modern software development landscape:
      <h4>The Agile Manifesto</h4>
    </p>
  </section>
  <section>
    <h3>Tenets of the Agile Manifesto</h3>
    <p>
      <em>We are uncovering better ways of developing software by doing it and
        helping others do it. Through this work we have come to value:</em>
    </p>
    <p>
      <div>
        <em><strong>Individuals and interactions</strong> over processes and tools</em>
      </div>
      <div>
        <em><strong>Working software</strong> over comprehensive documentation</em>
      </div>
      <div>
        <em><strong>Customer collaboration</strong> over contract negotiation</em>
      </div>
      <div>
        <em><strong>Responding to change</strong> over following a plan</em>
      </div>
    </p>
    <p>
      <em>That is, while there is value in the items on the right, we value the
        items on the left more. </em>
    </p>
  </section>
  <section>
    <h3>Or in summary...</h3>
    <img src="/assets/images/waterfalls.gif">
    <h4>Don't go chasing waterfalls</h4>
  </section>
</section>
