<section>
  <section>
    <h3>A brief history of Agile</h3>
    <p>
       The idea of agile software development devolved from dissatisfaction with
       the widely used waterfall model of the 1980s and 90s. Recognizing
       waterfall methodology’s inefficiencies, developers reconsidered and
       reinvented the product development life cycle.
    </p>
  </section>
  <section>
    <h3>A brief history of Agile</h3>
    <p>
      In February of 2001, a number of software developers from all over the
      U.S. assembled at a Utah ski resort to philosophize on the merits of
      leaner development strategies.
    </p>
    <p>
      With the Manifesto for Agile Software
      Development, they developed standards that have forever transformed the
      software development landscape.
    </p>
  </section>
  <section>
    <h3>Tenets of the Agile Manifesto</h3>
    <p>
      We are uncovering better ways of developing software by doing it and
      helping others do it. Through this work we have come to value:
    </p>
    <p>
      <div>
        <strong>Individuals and interactions</strong> over processes and tools
      </div>
      <div>
        <strong>Working software</strong> over comprehensive documentation
      </div>
      <div>
        <strong>Customer collaboration</strong> over contract negotiation
      </div>
      <div>
        <strong>Responding to change</strong> over following a plan
      </div>
    </p>
    <p>
      That is, while there is value in the items on the right, we value the
      items on the left more.
    </p>
  </section>
  <section>
    <h3>Or in summary...</h3>
    <img src="/assets/images/waterfalls.gif">
    <h4>Don't go chasing waterfalls</h4>
  </section>
</section>
