<section>
  <section>
    <h1>Amplify learning</h1>
  </section>
  <section>
    <p>
      <em>
        The best approach to improving a software development environment is to
        amplify learning.
      </em>
    </p>
  </section>
  <section>
    <div>
      <p style="float: left; width: 40%;">
        <img src="/assets/images/lisa-crispin.png">
      </p>
      <p style="float: left; width: 60%; padding-top: 1em;">
        <em>
          Short feedback loops give us confidence. Confidence leads to enjoyment. I
          love driving my donkeys, and I love working on a software development team
          that is guided by continual quick feedback! Look how much fun this is!
        </em>
        <h4>Lisa Crispin - Agile Testing Coach and Practitioner</h4>
      </p>
    </div>
  </section>
  <section>
    <blockquote>
      Design is a process of progressive discovery that relies on a feedback
      loop.
    </blockquote>
    <h5>Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
  </section>
  <section>
    In development the discovery cycle is critical for learning:
    <p class="fragment"> Design, implement, feedback, improve.</p>
    <p class="fragment">Try-it, test-it, fix-it.</p>
    <p class="fragment">Fail fast; learn rapidly.</p>
  </section>
</section>
