<section>
  <section>
    <h1>Build Quality In</h1>
  </section>
  <section>
    <p><em> Depend on things that change less often than you do.</em></p>
    <h5 class="fragment">Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
  </section>
  <section>
    <h2>Two kinds of integrity</h2>
    <p class="fragment">
      <strong>Perceived integrity</strong> means that the totality of the
      product achieves a balance of function, usability, reliability, and
      economy that delights customers.
    </p>

    <p class="fragment">
      <strong>Conceptual integrity</strong> means that the system's central
      concepts work together as a smooth, cohesive whole.
    </p>
  </section>
  <section>
    <h2>Maintaining Conceptual Integrity</h2>
    <ol>
      <li>Simplicity</li>
      <li>Clarity</li>
      <li>Suitabiity for use</li>
      <li>No repetition</li>
      <li>No&nbsp;extra&nbsp;features</li>
    </ol>
  </section>
  <section>
    <p><em>
      Resist the temptation of the brute force approach and add the architectural
      capability. If you let crud build up in the system, its integrity will begin
      to degrade, and you will eventually have to pay the debt.
    </em></p>
  </section>
  <section>
    <h2>Improving software design integrity</h2>
    <ul>
      <li>Refactoring</li>
      <li>Pair programming</li>
      <li>TDD</li>
    </ul>
  </section>
</section>
