<section>
  <section>
    <img src="/assets/images/crank-it-up.jpg">
    <h2>Crank learning to 11!</h2>
  </section>
  <section>
    <em>
      The <span class="fragment highlight-blue">maximum amount of information is
      generated when the probability of failure is 50 percent</span>, not when
      the hypotheses are always correct.
    </em>
  </section>
  <section>
    <h2>TDD</h2>
    <blockquote span="fragment">
      <em>Instead of letting defects accumulate, run tests as soon as the code is
      written.</em>
    </blockquote>
    <p class="fragment">
      Provides immediate feedback not only when things are broken, but also on
      the quality of the design of your objects.
    </p>
  </section>
  <section>
    <h2>Stand-up meetings</h2>
    <p class="fragment">
      <em>At the daily meeting, team members give a summary of what they did
      yesterday, what they plan to do today, and where they need help.</em>
    </p>
  </section>
  <section>
    <h2>Frequent client interaction</h2>
    <div class="fragment">
      <p>
        <blockquote>
        <em><strong>Prefer responding to change</strong> over following a plan.</em>
        </blockquote>
      </p>
      <h5>The Manifesto for Agile Software Development</h5>
    </div>
  </section>
</section>
