<section>
  <section>
    <h1>Decide as late as possible</h1>
  </section>
  <section>
    <p>
      <em>Any decision you make in advance of an explicit requirement...</em>
    </p>
    <h3 class="fragment">is just a guess.</h3>
    <p class="fragment">
      <em>Don't decide; preserve your ability to make a decision later.</em>
    </p>
    <h5 class="fragment">Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
  </section>
  <section>
    <h2>What is the future cost of doing nothing today?</h2>
  </section>
  <section>
    <em>When the future cost of doing nothing is the same as the current
    cost,</em>
    <em class="fragment highlight-blue">postpone the decision.</em>
    <em class="fragment">Make the decision only when you
    <span class="fragment highlight-red">must</span> with the information you
    have available at that time.</em>
    <h5 class="fragment">Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
  </section>
</section>
