<section>
  <section>
    <h1>Deliver as fast as possible</h1>
  </section>
  <section>
    <p>
      It's just so easy and fun to build <span class="fragment highlight-blue">a
      lot</span> of software. Fixing bugs or spending a lot of time to figure
      out what is wrong and then tweaking the code to fix it,
      <span class="fragment highlight-blue">that's just not as fun as writing a
      lot of software</span>. As developers who are excited about software,
      <span class="fragment highlight-red">we're always tempted to do
      this</span>.
    </p>
    <h5>Joe Ferris - CTO at Thoughbot</h5>
  </section>
</section>
