<section>
  <section>
    <h2>How do you eliminate waste as a software developer?</h2>
  </section>
  <section>
    <h1>DRY</h1>
    <p class="fragment">
      <span class="fragment highlight-red">D</span>on't
      <span class="fragment highlight-red">R</span>epeat
      <span class="fragment highlight-red">Y</span>ourself
    </p>
  </section>
  <section>
    <h1>KISS</h1>
    <p class="fragment">
      <span class="fragment highlight-red">K</span>eep
      <span class="fragment highlight-red">I</span>t
      <span class="fragment highlight-red">S</span>imple,
      <span class="fragment highlight-red">S</span>tupid
    </p>
  </section>
  <section>
    <h1>YAGNI</h1>
    <p class="fragment">
      <img src="/assets/images/not-even-a-word.gif">
    </p>
    <p class="fragment">
      <span class="fragment highlight-red">Y</span>ou
      <span class="fragment highlight-red">A</span>in't
      <span class="fragment highlight-red">G</span>onna
      <span class="fragment highlight-red">N</span>eed
      <span class="fragment highlight-red">I</span>t
    </p>
  </section>
  <section>
    <p>
      <em>
        The cheapest, fastest, and most reliable components are those that
        aren’t there.
      </em>
    </p>
    <h5>Gordon Bell</h5>
  </section>
  <section>
    <em>If code is not needed now, putting it into the system is a waste.</em>
    <em class="fragment highlight-red">Resist the temptation.</em>
  </section>
  <section>
    <em>A Standish Group study found that <span class="fragment highlight-red">
    45 percent of features in a typical system are never used</span> and
    <span class="fragment highlight-red">19 percent are rarely used.</span></em>
  </section>
  <section>
    <h1>TDD</h1>
    <p class="fragment">
      <span class="fragment highlight-red">T</span>est
      <span class="fragment highlight-red">D</span>riven
      <span class="fragment highlight-red">D</span>evelopment
    </p>
    <blockquote class="fragment">
      <em>
        Instead of letting defects accumulate, run tests as soon as the code is
        written.
      </em>
    </blockquote>
  </section>
</section>
