<section>
  <section>
    <h1>Empower the team</h1>
  </section>
  <section>
    <h3>Let the people who add value use their full potential.</h3>
  </section>
  <section>
    <p><em>When design is dictated from afar none of the necessary adjustments can occur
    and early failures of understanding get cemented into the code.</em></p>
    <h5>Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
  </section>
  <section>
    <h2>MINASWAN</h2>
    <img class="fragment" src="/assets/images/minaswan.jpg">
    <h5 class="fragment">Matz Is Nice And So We Are Nice</h5>
  </section>
</section>
