<section>
  <section>
    <h3>Empower the team</h3>
    <h4>can also be applied to your objects!</h4>
    <p style="padding-top: .5em;">Design good objects and let them do their job!</p>
  </section>
  <section>
    <p><em>The ability of a system to achieve its purpose depends on how well the parts
    work together, not just how well they perform individually.</em></p>
  </section>
  <section>
    <h3>Teams of objects can be thought of as a layer</h3>
    <p><em>
      Layers provide high cohesion within the layer and a separation of concerns
      between the layers, two fundamental architectural patterns in software
      design.
    </em></p>
  </section>
  <section>
    <h3>High cohesion</h3>
    <p class="fragment"><em>
      High cohesion is a pattern that attempts to keep objects appropriately
      focused. Cohesion refers to the degree to which elements of an object or
      module <strong>belong</strong> together.
    </em></p>
  </section>
  <section>
    <h3>Separation of concerns</h3>
    <p><em>
      For each one concern, other concerns are irrelevant. Separation of concerns
      is a means of hiding implementation behavior and deferring decision
      making.
    </em></p>
  </section>
  <section>
    <h3>Separation of concerns</h3>
    <p><em>
      Since you can't build complete flexibility into a system, you should try
      to group things that are likely to change together and hide them from the
      rest of the system.
    </em></p>
    <p class="fragment"><em>
      Putting things that vary together ... and hiding them from the rest of the
      system allows changes to be made that have only local impact and do not
      disrupt huge parts of the system.
    </em></p>
  </section>
  <section>
    <h3>Single Responsibility Principle</h3>
    <p><em>
      A class should do the smallest possible useful thing; that is, it should
      have a single responsibility.
    </em></p>
    <h5 class="fragment">Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
    <p class="fragment">A class should have only one reason to change</p>
  </section>
</section>
