<section>
  <section>
    <h2>There's lots you can do to facilitate future change!</h2>
  </section>
  <section>
    <h2>But...</h2>
    <p class="fragment">It takes time and experience.</p>
  </section>
  <section>
    <h2>Develop a sense of how to absorb change</h2>
  </section>
  <section>
    <h4>First, apply what you've learned so far...</h4>
    <h2 class="fragment">Eliminate waste!</h2>
  </section>
  <section>
    <h2>Eliminate waste</h2>
    <ul>
      <li>Avoid repetition (DRY)</li>
      <li>Defer implementation of future capabilities (KISS)</li>
      <li>Avoid extra features (YAGNI)</li>
    </ul>
  </section>
  <section>
    <h3>Then comes the hard part...</h3>
    <h4 class="fragment">Object-oriented design</h4>
  </section>
  <section>
    <h3>Flexible OO design</h3>
    <ul>
      <li class="fragment">Use modules</li>
      <li class="fragment">Use interfaces</li>
      <li class="fragment">Use abstractions</li>
      <li class="fragment">Separate concerns</li>
      <li class="fragment">Minimize coupling</li>
    </ul>
  </section>
  <section>
    <em>
      Information hiding, or more generally behavior hiding, is the foundation
      of object-oriented approaches. Delay commitment to the internal design of
      the module until the requirements of the clients on the interfaces
      stabilize.
    </em>
  </section>
  <section>
    <em>Design is more the art of preserving changeability than it is the act of
    achieving perfection.</em>
    <h5>Sandi Metz from Practical Object-Oriented Development in Ruby</h5>
  </section>
</section>
