<section>
  <section>
    <h3>Lean Software Development</h3>
    <p>
      Though similar to agile, lean software development traces its origin back
      to a collection of manufacturing philosophies and practices that helped
      Toyota rise to prominence in the second half of the 20th century.
    </p>
    <p>
      These "lean manufacturing" techniques were adapted for software
      development in 2003 by Mary and Tom Poppendieck, in the book "Lean
      Software Development".
    </p>
  </section>
  <section>
    <img src="/assets/images/why_should_i_care.jpg">
  </section>
  <section>
    <h1>You're leaning right now!</h1>
  </section>
</section>
