<section>
  <section>
    <img src="/assets/images/remember-your-training.jpg">
  </section>
  <section>
    <h2>Fast delivery</h2>
    <ul>
      <li>Eliminate waste</li>
      <ul>
        <li>KISS</li>
        <li>YAGNI</li>
        <li>TDD</li>
        <li>Avoid context switching</li>
      </ul>
      <li>Build for change</li>
    </ul>
  </section>
  <section>
    <em>The fastest way to complete two projects that use the same resources is
    to...</em>
    <h3 class="fragment">do them one at a time.</h3>
    <img class="fragment" src="/assets/images/gasp.gif">
  </section>
</section>
