<section>
  <section>
    <h1>See the whole</h1>
  </section>
  <section>
    <p><em>Beware the temptation to optimize parts at the expense of the
    whole.</em></p>
  </section>
  <section>
    <p><em>By decomposing the big tasks into smaller tasks ... the root cause of
    defects should be found and eliminated.</em></p>
  </section>
  <section>
    <h1>Think big, act small</h1>
  </section>
  <section>
    <p><em>
      Predicting the future tends to be a waste of time and resources.
    </em></p>
    <p class="fragment"><em>
      It is better to take a breadth-first approach and get the basics right.
    </em></p>
  </section>
</section>
