<section>
  <section>
    <h2>What is waste?</h2>
  </section>
  <section>
    <p>
      <em>
        I was joking the other week that we should have somebody whose job it is
        to follow every project and get notified of every pull request and just
        go into the thread and ask "<span class="fragment highlight-red">Do you
        really need to do this?</span>"
      </em>
    </p>
    <p class="fragment"><em>You need that constant voice.</em></p>
    <p><h5>Joe Ferris - Thoughbot CTO</h5></p>
  </section>
  <section>
    <em>
      Waste is anything that does not add value to a product, value as perceived
      by the customer.
    </em>
  </section>
  <section>
    <em>
      Whatever gets in the way of rapidly satisfying a customer need
      <span class="fragment highlight-red">is waste.</span>
    </em>
  </section>
</section>
